'context-menu':
  'atom-text-editor': [
    {
      'label': 'Execute Code clojure-repl'
      'command': 'clojure-repl:sendToRepl'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Clojure Repl'
      'submenu': [
        {
          'label': 'Start Local Repl'
          'command': 'clojure-repl:startRepl'
        },
        {
          'label': 'Connect Remote Repl'
          'command': 'clojure-repl:connectToNrepl'
        },
        {
          'label': 'Execute Code'
          'command': 'clojure-repl:sendToRepl'
        }
      ]
    ]
  }
]
