.DS_Store
*.jar
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.shadow-cljs/
.repl
.nrepl-*
pom.xml
/package.json
/package-lock.json
/classes/
/out/
/target/
/node_modules
/plugin/lib/
/plugin/node_modules
/resources/public/js/compiled/**
