{:dependencies []
 :lein true
 :nrepl {:port 5555}
 :builds {:app {:target :node-library
                :exports {:config clojure-party-repl.core/config
                          :activate clojure-party-repl.core/activate
                          :deactivate clojure-party-repl.core/deactivate
                          :connectToRemoteRepl clojure-party-repl.core/connect-to-remote-repl
                          :startLocalRepl clojure-party-repl.core/start-local-repl
                          :sendToRepl clojure-party-repl.core/send-to-repl
                          :showNewerHistory clojure-party-repl.core/show-newer-repl-history
                          :showOlderHistory clojure-party-repl.core/show-older-repl-history
                          :consumeAutosave clojure-party-repl.core/consume-autosave}
                :output-to "lib/clojure-party-repl.js"
                :devtools {:before-load clojure-party-repl.core/stop
                           :after-load clojure-party-repl.core/start}}}}
