{:dependencies []
 :lein true
 :nrepl {:port 5555}
 :builds {:app {:target :node-library
                :exports {:activate clojure-repl.core/activate
                          :deactivate clojure-repl.core/deactivate
                          :startRepl clojure-repl.core/start-repl
                          :executeEnteredText clojure-repl.core/execute-entered-text}
                :output-to "plugin/lib/clojure-repl.js"
                :devtools {:before-load clojure-repl.core/stop
                           :after-load clojure-repl.core/start}}}}
