{:dependencies []
 :lein true
 :nrepl {:port 5555}
 :builds {:app {:target :node-library
                :exports {:activate clojure-repl.core/activate
                          :deactivate clojure-repl.core/deactivate
                          :connectToNrepl clojure-repl.core/connect-to-nrepl
                          :startRepl clojure-repl.core/start-local-repl
                          :sendToRepl clojure-repl.core/send-to-repl
                          :showNewerHistory clojure-repl.core/show-newer-repl-history
                          :showOlderHistory clojure-repl.core/show-older-repl-history
                          :consumeAutosave clojure-repl.core/consume-autosave}
                :output-to "plugin/lib/clojure-repl.js"
                :devtools {:before-load clojure-repl.core/stop
                           :after-load clojure-repl.core/start}}}}
