'context-menu':
  'atom-text-editor': [
    {
      'label': 'Execute Code with Party REPL'
      'command': 'clojure-party-repl:sendToRepl'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Clojure Party REPL'
      'submenu': [
        {
          'label': 'Start Local Lein REPL'
          'command': 'clojure-party-repl:startLocalRepl'
        },
        {
          'label': 'Connect to Remote REPL Server'
          'command': 'clojure-party-repl:connectToRemoteRepl'
        },
        {
          'label': 'Execute Code'
          'command': 'clojure-party-repl:sendToRepl'
        }
      ]
    ]
  }
]
