/**
 * The ui-variables file is provided by base themes provided by Atom.
 *
 * See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
 * for a full listing of what's available.
 */
@import "ui-variables";

.clojure-party-repl {

}

.repl-entry {

}

.repl-history {

}

.highlight.executed-top-level-form .region {
    background-color: rgba(100, 148, 237, 0.6);
}

div.clojure-party-repl-view {
    position: relative;
    display: flex;
    flex-direction: column;
}

.clojure-party-repl-view .output-editor-container {
    position: relative;
    flex-grow: 5;
    order: 1;
}

.clojure-party-repl-view .menu-container {
    background: green;
    height: 40px;
    order: 2;
}

.clojure-party-repl-view .input-editor-container {
    position: relative;
    flex-grow: 1;
    order: 3;
}

.clojure-party-repl-view .output-editor,
.clojure-party-repl-view .input-editor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
