/**
 * The ui-variables file is provided by base themes provided by Atom.
 *
 * See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
 * for a full listing of what's available.
 */
@import "ui-variables";

.clojure-party-repl {

}

.repl-entry {

}

.repl-history {

}

.highlight.executed-top-level-form .region {
    background-color: rgba(100, 148, 237, 0.6);
}

div.clojure-party-repl-view {
    position: relative;
}

.clojure-party-repl-view .output-editor {
    position: absolute;
    top: 0;
    bottom: 10%;
    left: 0;
    right: 0;
    margin-bottom: 40px;
}

.clojure-party-repl-view .menu-container {
    position: absolute;
    height: 400px;
    top: 90%;
    left: 0;
    right: 0;
    margin-top: -40px;
    background: green;
}

.clojure-party-repl-view .input-editor {
    position: absolute;
    top: 90%;
    bottom: 0;
    left: 0;
    right: 0;
}
